



<div class="container text-center">
    <div class="row">
        <img src="https://image.shutterstock.com/image-photo/profile-side-view-portrait-nice-260nw-1178692507.jpg"  width="20px" alt="" style="border-radius: 50%;display: inline-block;">
        <br>
        <h2>Abogada: {{perfil}}</h2>
        <h2>Registro CAL: {{perfil}}</h2>
        <h2>Especialidad: {{perfil}}</h2>
        <h2>Ubicación: {{perfil}}</h2>
        <h2>Horario de atención: {{perfil}}</h2>
        <h2>Número telefónico: {{perfil}}</h2>
       
        <button class="btn btn-dark col-md-3 card-title"> <i class="fas fa-phone-square-alt"></i> Llamar
        </button>
        <button class="btn btn-dark col-md-3 card-title"> <i class="fas fa-phone-square-alt"></i> Escribir mensaje
        </button>
     
        <br>
    </div>
</div>
