<div class="imagen-fondo">

    <div class="container center">
        <div class=" d-inline-block">
            <p class="h5 white padding-lados">Normativa</p>
        </div>
        <div class="d-inline-block"> - </div>

        <div class=" d-inline-block ">
            <p class="h5 white-gris padding-lados" routerLink="/jurisprudencia">Jurisprudencia</p>
        </div>
        <div class="d-inline-block"> - </div>

        <div class=" d-inline-block ">
            <p class="h5 white-gris padding-lados">Publicaciones</p>
        </div>
        <div class="d-inline-block"> - </div>

        <div class=" d-inline-block ">
            <p class="h5 white-gris padding-lados">Mensajes</p>
        </div>
        <div class="d-inline-block"> - </div>

        <div class=" d-inline-block ">
            <p class="h5 white-gris padding-lados">Cuestionarios</p>
        </div>
        <div class="d-inline-block"> - </div>

        <div class=" d-inline-block ">
            <p class="h5 white-gris padding-lados">Notificaciones</p>
        </div>
        <div class="d-inline-block"> - </div>

        <div class=" d-inline-block ">
            <p class="h5 white-gris padding-lados">Mi perfil</p>
        </div>
    </div>



    <br>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item transparente ">
            <button class="accordion-button collapsed transparente white padding-lares" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                aria-controls="collapseOne">
                .Constituciones
            </button>
            <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body white">

                    <div target="_blank" routerLink="constitucion1993"
                        style="color: white !important; text-decoration: none;">.Constitución política de 1993</div>
                  
                    <a target="_blank" href="https://sayra-ab436.web.app/penal.html"
                        style="color: white !important; text-decoration: none;">.Constitución Política de Perú de
                        1979</a>
                </div>
            </div>
        </div>
        <br>
        <div class="accordion-item transparente">
            <button class="accordion-button collapsed transparente white padding-lares" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                .Códigos
            </button>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body white">
                    <div target="_blank" routerLink="civil"
                        style="color: white !important; text-decoration: none;">.Código civil.</div>

                        
                        <div target="_blank" routerLink="codigoprocesal-penal"
                        style="color: white !important; text-decoration: none;">.Código procesal penal.</div>

                        <div target="_blank" routerLink="codigoprocesal-civil"
                        style="color: white !important; text-decoration: none;">.Código procesal civil.</div>

                        
                        <div target="_blank" routerLink="penal"
                        style="color: white !important; text-decoration: none;">.Código penal</div>

                        
                        <div target="_blank" routerLink="codigotributario"
                        style="color: white !important; text-decoration: none;">.Código tributario.</div>

                        
                        <div target="_blank" routerLink="codigodelninoyadolescente"
                        style="color: white !important; text-decoration: none;">.Código del niño y adolecentes.</div>

                        
                        <div target="_blank" routerLink="codigodecomercio"
                        style="color: white !important; text-decoration: none;">.Código de comercio.</div>

                        
                        <div target="_blank" routerLink="codigodeejecucionpenal"
                        style="color: white !important; text-decoration: none;">.Código de ejecución penal.</div>

                        
                        <div target="_blank" routerLink="codigodeprocedimientospenales"
                        style="color: white !important; text-decoration: none;">.Código de procedimientos penales.</div>

                        
                        <div target="_blank" routerLink="consumidor"
                        style="color: white !important; text-decoration: none;">.Código de protección y defensa del consumidor. </div>

                        <div target="_blank" routerLink="codigoprocesalconstitucional"
                        style="color: white !important; text-decoration: none;">.Código procesal constitucional. </div>
 
                


                </div>
            </div>
        </div>
        <br>

        <div class="accordion-item transparente">
            <button class="accordion-button collapsed transparente white padding-lares" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree">
                .Leyes Orgánicas
            </button>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body white">
                    <a target="_blank" href="https://sayra-ab436.web.app/penal.html"
                    style="color: white !important; text-decoration: none;">.Ley Orgánica del Poder Judicial</a>

                
                    
                    <a target="_blank" href="https://sayra-ab436.web.app/penal.html"
                    style="color: white !important; text-decoration: none;">.Ley Orgánica del Ministerio Público</a>

                
                    

                    <a target="_blank" href="https://sayra-ab436.web.app/penal.html"
                    style="color: white !important; text-decoration: none;">.Ley Orgánica de Municipalidad</a>

                
                    
                    
                </div>
            </div>
        </div>
        <br>

        <div class="accordion-item transparente">
            <button class="accordion-button collapsed transparente white padding-lares" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                aria-controls="collapseFour">
                .Otras normas de mayor uso
            </button>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body white">
                    <a target="_blank" href="https://sayra-ab436.web.app/penal.html"
                    style="color: white !important; text-decoration: none;">.Ley de Procedimientos Administrativos</a>
<br>

        <a target="_blank" href="https://sayra-ab436.web.app/penal.html"
        style="color: white !important; text-decoration: none;">.Ley de Contrataciones con el Estado</a>
        <br>


                </div>
            </div>
        </div>
    </div>


</div>