body{
	/*padding: 10%;*/
	      padding: 1% 1%;
	          text-align: justify !important;

}
.corte{
	color: green
}

h2.titulo{
	text-align: center;
	color: #FA9E2D;
}
h2.titulop{
	text-align: center;
	
}
.sub {
	color:  #FA9E2D;
}
.cuerpo {
	font-weight: bold;
}
strong.color{
	color: #FA9E2D;
}

.sang{
	text-indent: 30px;
	
}



p.Especial {
    padding: .3em 0.5em;
    display: inline-block;
    color: white;
    background: black;
}



mark {
  background: yellow;
}

mark.current {
  background: orange;
}

.header {
  padding: 10px;
  width: 100%;
  background: #eee;
  position: fixed;
  top: 0;
  left: 0;
  
}

.content {
  margin-top: 50px;
}
button{
	font-size: 1.5em;
  margin-right: .2em;
}

.buscar-tm{
  margin-left: .5em;
  font-size: 1.5em;
  margin-top: .1em; 
 
}

.input-search{
   width: 38%; 
    margin-bottom: .5em;
    font-size: 1em;
 }
