
<div class="imagen-fondo">
    <div class="black-transparente">
        <div class="container text-center">
            <div class="centro">

                <br>

                <h1 class="white">¿Necesitas asesoría legal?</h1>
                <br>
                <h2 class="white">Encuentra un abogado disponible cerca de tí</h2>


                <select [(ngModel)]="opcionUbicacion" (change)="capturar()"  id="ubicacion" class="form-select" aria-label="Buscas por ubicación" >
                    <option selected>Buscas por ubicación</option>
                    <option value="lima">Lima</option>
                    <option value="ate">Ate</option>
                    <option value="miraflores">Miraflores</option>
                </select>
                <br>
                <select [(ngModel)]="opcionEspecialidad" (change)="capturar()"  id="especialidad" class="form-select" aria-label="Buscar por especialidad">
                    <option selected>Buscar por especialidad</option>
                    <option value="civil">Civil</option>
                    <option value="penal">Penal</option>
                    <option value="alimentos">alimentos</option>
                </select>
                <br>
               
                <button   (click)='goListado()' type="button" class="btn btn-primary  mr-2 mb-2"> Buscar</button>

                <br>

                <p class="white">Si eres abogado(a) y deseas registrate <b (click)='goRegistro()'>Haz click aquí</b></p>
                <p class="white">¿Ya eres usuario?<b>Inicia Sesión</b></p>


                <br>

                <p class="white">©</p>
                <p class="white">Law Technology</p>
            </div>

        </div>
    </div>
</div>