<div class="text-center" style="background-color: black;">
    <br>

    <img src="assets/img/logo_miabogado.png" height="30" class="d-inline-block align-text-top">
    <br>
    <br>

</div>
<div class="imagen-fondo">
    <div class="black-transparente">
        <div class="container text-center">
            <div class="centro">

                <br>

                <h1 class="white">¿Necesitas asesoría legal?</h1>
                <br>
                <h2 class="white">Encuentra un abogado disponible cerca de tí</h2>


                <select class="form-select" aria-label="Buscas por ubicación">
                    <option selected>Buscas por ubicación</option>
                    <option value="1">Lima</option>
                    <option value="2">Ate</option>
                    <option value="3">Jesus María</option>
                </select>
                <br>
                <select class="form-select" aria-label="Buscar por especialidad">
                    <option selected>Buscar por especialidad</option>
                    <option value="1">Civil</option>
                    <option value="2">Penal</option>
                    <option value="3">Administrativo</option>
                </select>
                <br>

                <button type="button" class="btn btn-primary  mr-2 mb-2"> Buscar</button>

                <br>

                <p class="white">Si eres abogado(a) y deseas registrate <b>Haz click aquí</b></p>
                <p class="white">¿Ya eres usuario?<b>Inicia Sesión</b></p>


                <br>

                <p class="white">©</p>
                <p class="white">Law Technology</p>
            </div>

        </div>
    </div>
</div>