<div class="imagen-fondo">
    <div class="black-transparente">
        <div class="container text-center">
            <div class="centro">

                <br>
                <br>
                <h2 class="white">Guardado de normativa Beta v1</h2>

                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Capitulo</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default">
                </div>

                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Sumilla</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                
                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Descripción</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                
                <br>

                <br>
                <button type="button" class="btn btn-danger  mr-2 mb-2" style="width: 300px;"> Publicar </button>

                <br>


                <br>

                <p class="white">©</p>
                <p class="white">Law Technology</p>
            </div>

        </div>
    </div>
</div>