
<style>
    .white{
        color: white;
    }
    .derecha{
        float: right;
        padding-right: 3em;
    }
    .izquierda{
        float: left;
        padding-left: 3em;
        width: 16em;
    }
</style>
<div class="text-center" style="background-color: black;">
    <br>

    <img src="assets/img/logo_toolbar.png" height="60" class="d-inline-block align-text-top izquierda" routerLink="">

    <div class="derecha">
        <br>
        <p class="d-inline-block white">Si ya tienes usuario</p>&nbsp;&nbsp;
        <button type="button" class="d-inline-block btn btn-dark">Suscribete</button>&nbsp;&nbsp;
        <p class="d-inline-block white">ó</p>&nbsp;&nbsp;
        <button type="button" class=" d-inline-block btn btn-dark">Inicia Sesión</button>
        <div class="d-inline-block" style="color: black;"> - </div>
        <div class="d-inline-block" style="color: black;"> - </div>
        <div class="d-inline-block" style="color: black;"> - </div>
        <div class="d-inline-block" style="color: black;"> - </div>
        <div class="d-inline-block" style="color: black;"> - </div>
        <select class="form-select d-inline-block btn btn-dark " style="width: 8em;" data-width="fit">
          <option class=""><img style="" height="10px" alt=""> Español</option>
            <option data-content='asdsad'>Frances</option>
        </select>

        <br>

    </div>
    <br>

 

    <br>
    <br>
    <p class="white align-text-top izquierda">Comunidad de información jurídica.</p>

    <br>
    <br>

</div>
<router-outlet></router-outlet>

