
<style>
    .white{
        color: white;
    }
    .derecha{
        float: right;
        padding-right: 3em;
    }
    .izquierda{
        float: left;
        padding-left: 3em;

    }
</style>
<div class="text-center" style="background-color: black; ;">
    <br>

    <img src="assets/img/logo_toolbar.png" height="60" class="d-inline-block align-text-top izquierda" routerLink="">
    
    <div class="derecha">
        <br>
        <p class="d-inline-block white">Si ya tienes usuario</p>&nbsp;&nbsp;
        <button type="button" class="d-inline-block btn btn-dark">Suscribete</button>&nbsp;&nbsp;
        <p class="d-inline-block white">ó</p>&nbsp;&nbsp;
        <button type="button" class=" d-inline-block btn btn-dark">Inicia Sesión</button>
    </div>

    <br>
    <br>
    <br>
    <br>

</div>
<router-outlet></router-outlet>

