 
<div class="imagen-fondo">
    <br><br>
    <div class="izquierda">
      <span class="h1 white ">Registrate ahora.</span>
      <br>
      <span class="h6 white ">y forma una comunidad de información jurídica.</span>
  
    </div>
  
    <div class="normativa center">
      <br>
  
      <img src="assets/img/icono_normativa.png" height="100" class="d-inline-block center" routerLink="">
      <br>
      <br>
      <p class="white 50"><b>Normativa</b>, la constitución, códigos y demás normas actualizadas diariamente.</p>
      <br>
      <br>
  
      <div class="legalic" routerLink="/registro">
        <div class="botones-ingresar">
          <img src="assets/img/icono.png" height="40" class="d-inline-block " >
          <p class="d-inline-block white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Crea una nueva
            cuenta</p>
        </div>
  
      </div>
      <br>
  
      <div class="gmail">
        <div class="botones-ingresar">
  
          <img src="assets/img/icono_google.png" height="40" class="d-inline-block " routerLink="">
          <p class="d-inline-block white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inicia
            sesión con Gmail</p>
        </div>
      </div>
  
      <br>
      <div class="botones-ingresar">
  
        <div class="facebook">
          <img src="assets/img/icono_facebook.png" height="40" class="d-inline-block " routerLink="">
          <p class="d-inline-block white">&nbsp;&nbsp;&nbsp;&nbsp;Inicia sesión con Facebook</p>
        </div>
      </div>
  
    </div>
  
    <br><br><br><br>
  
  </div>