 
<div class="imagen-fondo">
  <br><br>
 
  <div class="container">
    <p class="h1 white ">Bienvenido</p>

  </div>  

  <div class="normativa center">
    <br>

    <!-- <img src="assets/img/logo_toolbar.png" height="100" class="d-inline-block center" routerLink="">
    <br> -->
    <!-- <br> -->
    <!-- <p class="h1 white 50">Comunidad de información jurídica.</p> -->
    <br>
    <br>
 
 

  </div>

  <div class="row center">
    <div class="col-sm-6">
      <span class="h4 white">¿Necesitas asesoría legal?</span>
        <br>
        <br>

      <div class="d-inline-block botones-ingresar" routerLink="/busqueda" style="border-radius: 5px;">
        <br>
        <div class="centro">
          <p class="d-inline-block white">Haz click aquí y encuentra un abogado disponible cerca a tí.</p>

          <img src="assets/img/icono_buscar_abogado.png" height="120" class="d-inline-block " routerLink="">
        </div>
      </div>
    </div> 
   

    <div class="col-sm-6">
      <span class="h4 white">¿Eres abogado o estudiante de derecho?</span>
        <br>
        <br>

      <div class="d-inline-block botones-ingresar" routerLink="/informacion-juridica" style="border-radius: 5px;">
        <br>
        <div class="centro">
          <p class="d-inline-block white">Haz click aquí y encuentra un abogado disponible cerca a tí.</p>

          <img src="assets/img/icono_buscar_abogado.png" height="120" class="d-inline-block " routerLink="">
        </div>
      </div>
    </div> 

 
  </div>

</div>
