

<div class="container">
    <br><br><br><br>

    <span class="h1">Bienvenido</span>

 <br><br><br><br>
    <div class="container center">
        <div class="row">
          <div class="col-sm center">.
            <span class="h4">¿Necesitas asesoría legal?</span>
          <br>
          <br>
          <button class="btn btn-dark" style="padding: 4em;" routerLink="/busqueda">Click aquí y encuentra un abogado disponible para tí.</button>

          </div>
          <div class="col-sm">
            <span class="h4" >¿Eres abogado o estudiando de derecho?</span>
            <br>
            <br>

            <button class="btn btn-dark" style="padding: 4em;" routerLink="/informacion-juridica">Haz click aquí a la comunidad de información jurídica.</button>
          </div>
        </div>
      </div>
   

</div>

