
<div class="imagen-fondo">
    <div class="black-transparente">
        <div class="container text-center">
            <div class="centro">

                <br>
                <br>
                <h2 class="white">Jurisprudencia</h2>

                <br>
                <select   id="especialidad" class="form-select" aria-label="Buscar por especialidad">
                    <option selected>Buscar por especialidad</option>
                    <option value="civil">Civil</option>
                    <option value="penal">Penal</option>
                    <option value="alimentos">Alimentos</option>
                    <option value="alimentos">Laboral</option>
                </select>
                <br>
                <select   id="ubicacion" class="form-select" aria-label="Buscas por ubicación" >
                    <option selected >Buscas por ubicación</option>
                    <option value="civil">Lima</option>
                    <option value="civil">Callao</option>
                    <option value="civil">San Borja</option>
                    <option value="ate">Ate</option>
                    <option value="miraflores">Miraflores</option>
                </select>
               
                <br>
 

                <br>
                <button   (click)='goListado()' type="button" class="btn btn-primary  mr-2 mb-2"> Buscar</button>

                <br>
 

                <br>

                <p class="white">©</p>
                <p class="white">Law Technology</p>
            </div>

        </div>
    </div>
</div>