.black-transparente{
    background-color: black;
    opacity: 0.6;
    height: 100%;

}


.imagen-fondo{

    background-image: url("../../assets/img/deskweb.png");
    background-size:cover;
    height: 89%;

}

  
.center {
    text-align: center;
  }

.centro{
    width: 50%;
    display: inline-block;
}


.white{
    color: white !important;
}

  
.padding-lados{
    padding-right: 1em;
    padding-left: 1em;
}
.white-gris{
    color: rgb(105, 105, 105);
}

.transparente{
  background: #eeeeee21 !important;
}

.padding-lares{
  padding-bottom: 2em;
  padding-top: 2em;
}
option{
    color: black;
}